@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

body {
  user-select: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

div.escapeBlur {
  position: relative;
  z-index: 1;
}
