@import "./vars.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
