:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: hsl(215, 25%, 27%);
    --color-secondary: hsl(215, 24%, 20%);
    --color-secondary-darker: hsl(212, 18%, 19%);
    --color-dark: #0b2447;
    --color-bg: hsl(217, 33%, 17%);
    --color-shadow: hsl(218, 33%, 9%);
  
    /* Fonts */
    --font-roboto: "Roboto";
  }